@font-face {
  font-family: 'iconfont';  /* Project id 4566942 */
  src: url('//at.alicdn.com/t/c/font_4566942_natouamp20s.woff2?t=1721742832104') format('woff2'),
       url('//at.alicdn.com/t/c/font_4566942_natouamp20s.woff?t=1721742832104') format('woff'),
       url('//at.alicdn.com/t/c/font_4566942_natouamp20s.ttf?t=1721742832104') format('truetype');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }